<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--设置日志记录使用方式 -->
		<setting name="logImpl" value="LOG4J2" />

		<!-- 数据库记录与bean映射时 下划线换成驼峰型 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<!-- 设置但JDBC类型为空时,某些驱动程序 要指定值,default:OTHER -->
		<setting name="jdbcTypeForNull" value="NULL" />

	</settings>

</configuration>